html,body {
    height: 100%;
}

.progress {
    position: fixed;
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    border-bottom: 20px solid yellow;
}

.all {
    z-index: 1;
}

.ani {
    animation: prog 2s;
}

@keyframes prog {
    0% {
        width: 0;
    }
    100% {
        width: 100% ;
    }
}

.divv {
    cursor: pointer;
    background-color: var(--bs-indigo) ;
    color: var(--bs-yellow) ;
    transition: 0.6s;
}

.divv:hover {
    background-color: var(--bs-yellow);
    color: var(--bs-indigo)
}